/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('assets/flowers-background.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}