.container {
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
}

.header-image {
    position: fixed;
    z-index: 3;
    right: 0px;
    top: 0px;
    max-width: calc(100vw - 100px);
    img {
        max-height: 200px;
        width: 100%;
    }
    pointer-events: none;
}